
#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: transparent;
    z-index: 1000;
    transition: background 0.3s ease, padding 0.3s ease;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


#logo {
    height: 400px; /* Large Logo */
    transition: height 0.3s ease;
}


#header.scrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 30px;
}

#header.scrolled #logo {
    height: 80px !important;
}


#menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 20%;
    width: 100%;
}


#menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    margin: 0;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s ease, color 0.3s ease;
}

#menu ul li a:hover {
    background: #ff5722;
    color: white;
    border-radius: 5px;
}

